@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #0375f8, #b9fca5);
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 15px 0;
}

input {
    display: none;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.header {
    text-align: center;
    font-weight: 700;
    color: #2d3748;
    background: #aa222200;
}

.header p {
    font-size: 40px;
    color: #000;
}

.upload-section {
    display: flex;
    column-gap: 10px;
}

.upload-area {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border: 3px dashed #cbd5e0;
    padding: 30px;
    transition: all 200ms ease;
}

.upload-area:hover {
    border-color: #67b65b;
    background-color: #bafab1;
    border-radius: 10px;
}

.upload-icon {
    font-size: 4rem;
}

.upload-text {
    font-size: 1.2rem;
}

.btn {
    width: 200px;
    border-radius: 5px;
    background-color: #0e4b01;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 600;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: #1eff00;
    cursor: pointer;
    transform: translateY(-5px);
    color: #000;
}

.process {
    text-align: center;
}

.process-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.empty-icon {
    font-size: 4rem;
    color: #cbd5e0;
}

.file-content {
    background-color: #000;
    color: #FFF;
    white-space: pre-wrap;
    text-align: left;
}

.conteudo {
    background-color: #cbd5e0;
}
.download-btn-excel{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    column-gap: 20px;
}
.btn-filter{
    display:none;
    font-size: 20px;
    background: #0e4b01;
    padding: 10px;
    border-radius: 5px;
    color:#fff;
    border: 1px #000 solid;
    transition: 300ms;
}
.btn-filter:hover{
    background-color: #1eff00;
    color: #000;
    cursor: pointer;
    transform: translateY(-5px);
}
.btn-download {
    display: inline-block;
    background-color: rgb(1, 53, 1);
    color: #fff;
    border: 1px #000 solid;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    transition: all 200ms ease;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}

.btn-download:hover {
    background-color: rgb(5, 255, 5);
    color: #000;
    transform: translateY(-5px);
    cursor: pointer;
}
.btn-download:active {
    transform: translateY(0px)
}

.download-btn {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.tabela-excel {
    margin-top: 30px;
    border: 1px solid #000;
    border-radius: 5px;
}

tr {
    transition: all 200ms ease-in;
}

tr:hover {
    color: #000000;
    background-color: #1eff01;
    transform: scale(1.10) translateY(-10px);
    cursor: pointer;
}
.dropdown{
    overflow: hidden;
}
.dropdown div{
    display: flex;
    justify-content: end;
}

.dropdown img{
    transform: rotate(90deg);
    transition: 300ms ease;
}
.dropdown.open img{
    transform: rotate(0deg);
}
.dropdown .tabela-excel{
    transform: translateY(-120%);
    transition: 500ms;
}

.dropdown.open .tabela-excel{
    transform: translateY(0%);
    height: auto;
    max-height: 1000px;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.emphasis {
  animation: blink 1100ms infinite;
  color: #005e1c;
  font-weight: 700;
}

